html {
	background-color: #777;
}
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px
	width:960px;
}
.header {
	text-align: center;
	background-color:#ebebeb;
	
}

h1 {
	font-size: 70px;
}

nav {
	list-style-type: none;
	text-align: center;
	height:30px;
	background-color: #ebebeb;
}

.homenav {
	padding-top: 5px;
}

li {
	display: inline;
	padding-right:50px;
}

a {
	text-decoration: none;	
}


.leftcontainer {
	background-color:#ebebeb;
	width:495px;
	overflow: auto;
	display:inline-block;
	float: left;
	margin-top:50px;
	margin-left: 50px;
}

.article1 {
	width:90%;
	height:70%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:40px;
	background-color:#777;
	text-align:center;
}

h2 {
	text-align:center;
	padding-top:15px;
	font-size: 40px;
}

h4 {
	font-size: 20px;
}
.rightcontainer {
	background-color:#ebebeb;
	width:495px;
	overflow: auto;
	display:inline-block;
	float:right;
	margin-top: 50px;
	margin-right: 50px;
}

img {
	width:73%;
	height:73%;
	padding:10px;
	margin:auto;
	
}

footer {
	width:100%;
	height:100px;
	background-color:#ebebeb;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#footertxt {
	text-align: center;
	padding:2px;
}
